.sparky-bot-avatar{
    background-color:rgb(206, 201, 201);
    width: 50px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1f1f1f;
    margin-right: 15px;

}