.App{
    
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.react-chatbot-kit-chat-container{
    background-color: aliceblue;
    
}
.react-chatbot-kit-chat-bot-message{
    
}
