.App{
    
    height: 100%;
    border: 3px solid green;
    text-align: center;
  

}

.react-chatbot-kit-chat-container{
    background-color: aliceblue;
}
.react-chatbot-kit-chat-bot-message{
    margin-left: 3%;
}
